.wrapper {
    display: flex;
    height: 90vh;
    padding: 0 3rem;
    margin-top: 4rem;
}

.right-content {
    position: relative;
    flex: 1;
}

.circles-box {
    width: 18rem;
    height: 18rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: var(--smboxShadow);
    left: 9rem;
    top: 2rem;
    position: relative;
    z-index: 9;

    & > * {
        position: absolute;
    }

    & > :nth-child(1){
        left: 6rem;
        top: -3rem;
    }

    & > :nth-child(2){
        left: -2rem;
        top: 5rem;
    }

    & > :nth-child(3){
        left: 6rem;
        top: 5rem;
    }

    & > :nth-child(4){
        left: 15rem;
        top: 5rem;
    }

    & > :nth-child(5){
        left: 6rem;
        top: 13rem;
    }
}

.circles-item {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 5px solid #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: var(--smboxShadow);

    & > img {
        transform: scale(0.6);
    }
}

.backCircle {
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    z-index: 1;
}

.yellowCircle {
    background: #1949B8;
    left: 18rem;
    top: 0;
}

.blueCircle {
    background: #F5C32C;
    left: 18rem;
    top: 8rem;
}
